<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account</title>


    <!-- Main css -->
    <link rel="stylesheet" href="~/Form/css/style.css">
    @RenderSection("style" , required:false)

</head>
<body>

    <div class="main">

     @RenderBody()
       
    </div>

    <!-- JS -->
    <script src="~/Form/vendor/jquery/jquery.min.js"></script>
    <script src="~/Form/js/main.js"></script>
    @RenderSection("script" , required:false)
</body>
</html>