<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_header" />
    @RenderSection("style" , required:false)

</head>

<body class="starter-page-page">
   <partial name="_navbar"/>

    <main class="main">



    @RenderBody()

    </main>

  <partial name="_footer" />

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>


    <!-- Main JS File -->
    <partial name="_script"/>
    @RenderSection("script" ,required:false)


</body>

</html>