@model PriceFormVM

@section titleStart {
  Prices
}
@section titleSeceond {
    Create  Price
}

@section Header {
Prices
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Price</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->

        <form asp-controller="Prices" asp-action="Create">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Name"> subscripe Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter subscripe Name Required">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="InitalPrice"> Initial Price</label>
                    <input asp-for="InitalPrice" class="form-control" placeholder="Enter Initial price value Required">
                    <span asp-validation-for="InitalPrice" class="text-danger"></span>

                </div>
                <div class="form-group" id="featuresContainer">
                    <label asp-for="Features"> Features</label>
                 
                            <input asp-for="Features" class="form-control" placeholder="Enter Feature">
                    
                </div>
                <button type="button" class="btn btn-secondary" onclick="addFeature()">Add Another Feature</button>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section script{
    <script>

        function addFeature() {
            const container = document.getElementById('featuresContainer');
          

            // Create the input element
            const input = document.createElement('input');
            input.setAttribute('name', `Features`);
            input.setAttribute('class', 'form-control');
            input.setAttribute('placeholder', 'Enter Feature');
            container.appendChild(input);

          


           

          
        }
    </script>
}


