@model ClientDetailsVM

@section titleStart {
   Clients
}
@section titleSeceond {
    Details Client
}

@section Header {
    Details Client
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Client Name is @Model.Name</h3>
        </div>
        <div class="card-body">
            <div class="post">
                <img class="img-lg img-rounded" src="~/Files/images/@Model.ImageName" alt="this is client image :@Model.Name">

                <p class="font-weight-bold text-sm">
                    Status is : @(Model.IsDeleted ? "Deleted " : "Active")
                </p>
                </div>
        </div>
        <div class="card-footer">
            <span class=" text-sm">CreatedAt : @Model.CreatedAt</span>
            <a class="btn btn-secondary btn-md  " asp-controller="Clients" asp-action="Index">Back</a>

        </div>
    </div>
</div>



