
@{
    ViewData["Title"] = "SendResetPasswordUrl";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<!-- SendResetPasswordUrl -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content d-flex justify-content-center">
            <h3 class="form-title" style="margin: 0 auto;">
                Please Check Your Email !
            </h3>
        </div>
    </div>
</section>


