@model PortfolioDetailsVM
@section titleStart {
  Portfolios
}
@section titleSeceond {
    Details  Portfolio
}

@section Header {
    Details Portfolio
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Portfolio Name is @Model.Name</h3>
        </div>
        <div class="card-body">
         
            <p class="font-weight-bold text-sm">
                Status is : @(Model.IsDeleted ? "Deleted " : "Active")
            </p>
        </div>
        <div class="card-footer">
            <span class=" text-sm">CreatedAt : @Model.CreatedAt</span>
            <a class="btn btn-secondary btn-md  " asp-controller="Portfolios" asp-action="Index">Back</a>

        </div>
    </div>
</div>


